# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Data and Outputs
data/
archive/
outputs/
*.pth
*.onnx
*.tflite
*.json
!plant_disease_training_dataset_optionB.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch/ML specific
.pt
.pth
.ckpt
*.onnx
*.tflite

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
